body {
  margin: 0;
  padding: 0;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 16px;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.inner-div {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0;
  border-radius: 6px;
  width: 300px;
  box-shadow: -3px 2px 9px 1px rgba(176, 169, 169, 0.65);
  -webkit-box-shadow: -3px 2px 9px 1px rgba(176, 169, 169, 0.65);
  -moz-box-shadow: -3px 2px 9px 1px rgba(176, 169, 169, 0.65);
}

.inner-div:hover {
  cursor: pointer;
}

.inner-div img {
  background-position: center;
  width: 250px;
  height: 200px;
}
.inner-div p {
  font-size: medium;
  font-weight: 300;
  color: brown;
}

.inner-div:hover {
  transform: scale(0.97);
  transition: all ease-in-out 50ms;
}
.add-to--cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  margin-top: 5rem;
  border: 2px solid rgb(129, 13, 67);
  border-radius: 10px;
  width: 700px;
  height: 400px;

  box-shadow: 10px 10px 5px 0px rgba(222, 211, 211, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(222, 211, 211, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(222, 211, 211, 0.75);
}

.add-to--cart img {
  margin-left: 1rem;
  width: 400px;
  height: 280px;
}
.add-to--cart a {
  text-decoration: underline;
  color: black;
  font-weight: 500;
  font-size: larger;
}
.add-to--cart p {
  padding: 8px;
  font-weight: 500;
}
.details {
  margin-left: 20px;
}
.button-container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  row-gap: 8px;
}
button {
  font-size: larger;
  font-weight: 500;
  display: block;
  background-color: rgb(24, 184, 233);
  color: aliceblue;
  padding: 4px;
  width: 120px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: brown;
}
/* cart page */
#name {
  color: brown;
  font-size: 1.2rem;

  font-weight: 600;
}
#description {
  color: rgb(41, 17, 41);
  font-weight: 400;
}
#price {
  font-weight: 600;
  color: red;
  /* border: 1px solid blueviolet; */
}
#total-price {
  color: rgb(166, 5, 206);
}

.cart {
  /* display: none; */
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  right: 0;
  width: 400px;
  text-align: center;
  padding: 8px;
  border: 1px solid black;
  overflow-y: scroll;
  height: 100vh;
  float: right;
  animation: mymove 3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.cart > img,
.details--element img {
  /* margin-top: 2rem; */
  width: 300px;
  height: 250px;
}
.cart p {
  margin-top: 4rem;
  margin-top: 4px;
  font-size: larger;
}
.details--element {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 500px;

  /* justify-content: center; */
}

.hidden {
  display: none;
}
@keyframes mymove {
  25% {
    transform: rotate(50deg);
  }

  75% {
    transform: rotate3d(100deg);
  }
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

/* Responsive design */
@media screen and (max-width: 640px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inner-div {
    width: 80%;
    display: flex;
    align-items: center;
  }
  .inner-div img {
    width: 80%;
    height: 50%;
  }
  .inner-div p {
    width: 80%;
  }

  /* Product Display Page */
  .add-to--cart {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    border: none;
    width: 90%;
    margin: auto;
  }

  .add-to--cart img {
    margin-left: 1rem;
    width: 400px;
    height: 280px;
  }
  .add-to--cart a {
    text-decoration: underline;
    color: black;
    font-weight: 500;
    font-size: larger;
  }
  .add-to--cart p {
    padding: 8px;
    font-weight: 500;
  }
  .details {
    margin-left: 20px;
  }

  .cart {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    position: absolute;
    top: 600px;
    left: 100px;
    width: 70%;
    height: 100vh;
    text-align: center;
    padding: 8px;
    border: 2px solid black;
    animation: mymove 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .inner-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
  .inner-div img {
    width: 80%;
    height: 40%;
  }
  .inner-div p {
    width: 80%;
    height: 16px;
  }

  /* Product Display Page */
  .cart {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    position: absolute;
    top: 600px;
    left: 100px;
    width: 70%;
    text-align: center;
    padding: 8px;
    border: 2px solid black;
    animation: mymove 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    overflow-y: scroll;
    height: 100vh;
  }
}
